<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings configSource="app.ConnectionStrings.config" />
    <appSettings>
        <add key="SourceFolder" value="N:\StLukes\CharityTracker" />
        <add key="DbTablePrefix" value="_csv_" />
    </appSettings>
</configuration>